<footer class="footer-area p-panel">
  <div class="p-panel-content  border-top-1">
    <div class="grid">
      <div class="col-8">
        <div class="single-footer-widget">
          <h6>Σχετικά με εμάς</h6>
          <p>
            Η εταιρεία μας δραστηροποιητε στην τροδοδοσία καταστημάτων από το
            1970, <br />
            ενώ στον χώρο του Κρασίου βρίσκεται από το 1994
          </p>
          <p><i class="pi pi-map-marker"> Ηρώων Πολυτεχνείου 41 </i></p>
          <p><i class="pi pi-phone"> +30 22920 25277</i></p>
          <p><i class="pi pi-envelope"> sales@skoufosnp.com</i></p>
        </div>
      </div>
      <!-- col-6 -->
      <div class="col-4">
        <div class="single-footer-widget">
          <h6>Συντομεύσεις</h6>
          <div class="grid">
            <div class="col-12">
              <ul>
                <li><a href="#">Αρχική Σελίδα</a></li>
                <li><a href="#">Νέες Παραλαβές</a></li>
                <li><a href="#">Προσφορές</a></li>
                <li><a href="#">Εκδηλώσεις</a></li>
                <li><a href="#">Ομαδα</a></li>
                <li><a href="#">Ειδικές Τιμές</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Επικοινωνία</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <!-- col4  -->
      <div class="col-12 ">
        <h6>Newsletter</h6>
        <p class="footer-text">
          Εγγραφείτε για να λαμβάνεται πρώτοι πληροφορίες για νέα προϊόντα και
          εκπτώσεις.
        </p>
        <div id="mc_embed_signup" class="p-formgroup-inline">
          <form target="_blank"
            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
            method="get" class="subscription relative">
            <div class="p-inputgroup">
              <input name="Email" placeholder="Email Address" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email Address '" required="" type="email" pInputText />
              <button pButton type="button" icon="pi pi-envelope" iconPos="left"></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="grid">
      <p class="col-12 col-sm-12 footer-social p-text-left p-text-lg-left border-top-1">
          <a href="#"><i class="fa fa-facebook fa-align-left" style="font-size: 2rem"></i></a>
          <a href="#"><i class="fa fa-google" style="font-size: 2rem"></i></a>
          <a href="#"><i class="fa fa-twitter" style="font-size: 2rem"></i></a>
          <a href="#"><i class="fa fa-instagram" style="font-size: 2rem"></i></a>
          <a href="#"><i class="fa fa-youtube" style="font-size: 2rem"></i></a>
      </p>
    </div>
    <!-- col-6 -->
  </div>
  <!-- grid -->
  <!-- panel -->
  <div class="p-panel-footer"  style="background-color: transparent;">
    <div class="container grid">
      <div class="align-items-center">
        <p class="col-12 col-sm-12 footer-text m-0 text-center text-lg-left">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | These Pages are made with
          <i class="fa fa-heart" aria-hidden="true"></i> by
          <a href="" target="_blank"> Panos Skoufos </a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ================ End footer Area ================= -->
