<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="favicon.ico" height="40" class="p-mr-2" />
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex flex-row flex-wrap" style=" margin-right: 1.5rem; ">
        <input type="text" pInputText placeholder="Search"  class="hidden md:inline-block"/>
        <div *ngIf="afAuth.user| async as user " class="block md:inline-flex ml-4 align-items-center " >
          <p-slideMenu #auth_umenu [model]="userMenu" [popup]="true"   effectDuration="1000" easing="ease-in"></p-slideMenu>
          <button #btn type="button" pButton pRipple icon="fa fa-list fa-lg" [label]="user.displayName | firstLetterPipe"
          class="p-button-rounded" (click)="auth_umenu.toggle($event)"></button>
        </div>

        <div *ngIf="!(afAuth.user |async )  as user" class="block  md:inline-flex  ml-4 align-items-left ">
          <p-slideMenu #unauth_umenu [model]="guestMenu" [popup]=true ></p-slideMenu>
          <button #btn type="button" pButton pRipple icon="fa fa-user-circle fa-lg"  class="p-button-rounded" label=" ?" (click)="unauth_umenu.toggle($event)"></button>
        </div>
      </div>
  </ng-template>
</p-menubar>
